<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style (4).css')}}">
  </head>
  <body>
    <div class="column">
      <div class="one">
        <div class="pic red">

        </div>
        <div class="text">
          <h2>ВЕБ-САЙТА</h2>
          <p>
            Мир никода не будет прежним после того как увидит ваш сайт!
          </p>
          <button class='red' type="button" name="button">ЗАКАЗАТЬ</button>
        </div>
      </div>
      <div class="one ">
        <div class="pic green">

        </div>
        <div class="text ">
          <h2>ПРИЛОЖЕНИЯ</h2>

          <p>
            Мир никода не будет прежним после того как увидит ваш сайт!
          </p>
          <button class='green' type="button" name="button">ЗАКАЗАТЬ</button>
        </div>
      </div>
      <div class="one ">
        <div class="pic yellow">

        </div>
        <div class="text">
          <h2>ПРЕЗЕНТАЦИИ</h2>
          <p>
            Мир никода не будет прежним после того как увидит ваш сайт!
          </p>
          <button class='yellow' type="button" name="button">ЗАКАЗАТЬ</button>
        </div>
      </div>
    </div>
  </body>
</html>
